
  <div class="banner">
      <div class="banner-content">
        <%#= image_tag 'banner.jpg', class: 'image_style'%>
        <h1>Sexy Cocktails</h1>
           <%= link_to "Add your cocktail", new_cocktail_path, type: "button", class: "button" %>


      </div>
  </div>


 <h1>Our Sexy Cocktails</h1>

<div class="cards">
  <div class="row">
    <% @cocktails.each do |cocktail|%>
      <div class="col-xs-12 col-sm-3">
        <div class="card">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
              <%= link_to 'X', cocktail_path(cocktail[:id]), method: :delete, data: { confirm: 'Are you sure you want to delete this cocktail?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>














