<div class="banner2">
    <h1 class="header">Your Cocktail</h1>
    <p class="new_text">Add a new sexy cocktail!</p>
    <div class="form_width">
      <%= render 'form', cocktail: @cocktail %>
    </div>
</div>








